* {
  --primary: #0069b4;
  --secondary: #c39965;
  --gray-1: #f5f5f5;
  --gray-2: #eaeaea;
  --gray-3: #c4c4c4;
  --gray-4: #979797;
  --error-color: #c39965;

  --font-sans-serif: "IBM Plex Sans";
  --font-serif: "Cormorant";
}

html,
body,
#root {
  background: var(--gray-1);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  max-width: 100vw;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
